
  <footer>
    <div class="logo"><a href="/">BLoH-BLoH</a></div>
    <div>Copyright &#169; <%= new Date().getFullYear() %> BLoH-BLoH</div>
    <div>All Rights reserved</div>


  </footer>
  <% if(locals.scriptSrc) { %>
  <script src="<%=scriptSrc %>"></script> <% } %>
  
</body>
</html>