<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- title change from the server -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Gabarito:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sintony:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sintony:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/hero.css">
  <link rel="stylesheet" href="/blogs.css">
  <link rel="stylesheet" href="/form.css">
  <link rel="stylesheet" href="/nav.css">
  <link rel="stylesheet" href="/footer.css">
  <title><%= name %></title>
</head>

<body>
  <div class="nav-bar">
    <nav>
      <div class="logo"><a href="/">BLoH-BLoH</a></div>
      <ul>
        <li><a href="/blogs">BLOGS</a></li>
        <li><a href="/blogs/create">NEW BLOG</a></li>
      </ul>
    </nav>
  </div>
  <!--
  1. Nav bar with logo
  -->